.edit-task {
  min-height: calc(100vh - 133px);
}

/* title */

.edit-task .title-input {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  font-weight: bold;
  margin-top: 11px;
}
.edit-task .title-input:focus{
  outline:none
}

.fa-pen-to-square {
  font-size: 18px;
  transition: .2s;
}

.fa-pen-to-square:hover {
  font-size: 20px;
  cursor: pointer;
}

/* sub tasks section */
.edit-task section.sub-task {
  max-width: 620px;
  margin: auto
}

.edit-task section.sub-task .parent-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.edit-task .parent-time #checkbox {
  width: 18px;
  height: 18px;
  accent-color: teal;
}

.edit-task section.sub-task .parent-time .parent-check {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.edit-task section.sub-task .parent-time label {
  position: relative;
  bottom: 3px;
}

.edit-task .card-task {
  box-shadow: 0 5px 30px 0 rgb(0 0 0/15%);
  background-color: rgb(72, 73, 73);
  border-radius: 5px;
  padding: 16px;
  transition: .2s;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}

.edit-task .card-task:hover {
  background-color: rgb(136, 138, 138);
  border-left: 4px solid wheat;
}

.edit-task .card-task .fa-trash {
  color: #eb9c9c;
}

/* add more btn & delete btn */
.btns {
  flex-direction: column;
}

.add-more-btn {
  background-color: teal;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: none;
}

.Light .edit-task .title-input,
.Light .fa-pen-to-square,
.Light .time,
.Light label{
  color: black!important;
}
.add-new-task{
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: rgb(72, 73, 73);
  padding: 5px;
  animation: openBox .9s ;
}
@keyframes openBox{
  0%{scale:0};
  50%{scale:1.3};
  100%{scale:1};
}
.add-task{
  margin:0;
  outline-color: teal;
}
.add{
  background-color: teal;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: none;
  margin-left: 10px;
}
.cancel{
margin-left: 10px;
background-color:  #dc3545;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
border-color: #dc3545;
}